<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<meta name="viewport" content="width=device-width">
	<meta name="description" content="">
	<meta http-equiv="pragma" content="no-cache">
	<meta http-equiv="Cache-Control" content="no-cache">
	<meta name="keywords" content="">
	<meta name="robots" content="index, follow">
	<meta name="follow" content="all">
	<meta name="revisit-after" content="14 days">
	<meta name="author" content="Robin A.">
	<link rel="icon" type="image/png" href="" sizes="32x32">
	<link rel="icon" type="image/png" href="" sizes="16x16">
	<link rel="stylesheet" href="{{ url_for('static',filename='styles/main.css') }}" type="text/css">
	<title>DontRobbedinator</title>
	<!-- <script src="../static/jquery-3.5.1.js"></script> -->
	<!-- minified jquery, use for distribution  -->
	<script src="../static/jquery-3.5.1.min.js"></script>
</head>
<body>
	<header>
		<div id="headercontainer">
			<div id="branding">
                DontGetRobbedinator
			</div>
			<nav id="navigation">
				<input id="toggle" type="checkbox"/>
        		<label for="toggle"></label>
        		<div id="navlinks">
	  				<div><a href="">Camera 1</a></div>
                    <div><a href="">Camera 2</a></div>
				</div>
			</nav>
		</div>
	</header>

	<section id="main_container">
		<div>
			<div id="topcontrols">
				<form method="post" action"/">
					<!-- <label>RESTART<input type="submit" name="button" value="restart"></label>
					<label>CALIBRATE<input type="submit" name="button" value="calibrate"></label>
					<label>LOAD PRESET<input type="submit" name="button" value="loadpreset"></label> -->
					<label><img src="{{url_for('static',filename='images/power-off-solid.svg') }}" alt=""><input type="submit" name="button" value="restart"></label>
					<label><img src="{{url_for('static',filename='images/balance-scale-left-solid.svg') }}" alt=""><input type="submit" name="button" value="calibrate"></label>
					<label><img src="{{url_for('static',filename='images/list-solid.svg') }}" alt=""><input type="submit" name="button" value="loadpreset"></label>
				</form>
			</div>
			<img id="camera_feed" src="{{ url_for('video_feed') }}" alt="Video stream inactive. Press <start> to start video stream.">
			<div id="bottomcontrols">
				<form method="post" action"/" id="formFullView"><label class="square"><img src="{{url_for('static',filename='images/expand-solid.svg') }}" alt=""><input type="submit" name="button" value="fullview"></label></form>
				<form method="post" action"/" id="fromCroppedView"><label class="square"><img src="{{url_for('static',filename='./images/compress-solid.svg') }}" alt=""><input type="submit" name="button" value="croppedview"></label></form>
				<form method="post" action"/" id="formZoomIn"><label class="square"><img src="{{url_for('static',filename='images/search-plus-solid.svg') }}" alt=""><input type="submit" name="button" value="zoomin"></label></form>
				<form method="post" action"/" id="formZoomOut"><label class="square"><img src="{{url_for('static',filename='images/search-minus-solid.svg') }}" alt=""><input type="submit" name="button" value="zoomout"></label></form>
				<div id="arrowcontrols">
					<div>
						<form method="post" action"/" id="formPanUp"><label class="square"><img src="{{url_for('static',filename='images/angle-up-solid.svg') }}" alt=""><input type="submit" name="button" value="panup"></label></form>
					</div>
					<div>
						<form method="post" action"/" id="formPanLeft"><label class="square"><img src="{{url_for('static',filename='images/angle-left-solid.svg') }}" alt=""><input type="submit" name="button" value="panleft"></label></form>
						<form method="post" action"/" id="formPanDown"><label class="square"><img src="{{url_for('static',filename='images/angle-down-solid.svg') }}" alt=""><input type="submit" name="button" value="pandown"></label></form>
						<form method="post" action"/" id="formPanRight"><label class="square"><img src="{{url_for('static',filename='images/angle-right-solid.svg') }}" alt=""><input type="submit" name="button" value="panright"></label></form>
					</div>
				</div>			
			</div>

		</div>
	</section>
	<script src="../static/scripts/main.js"></script>
	
</body>
</html>
