<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

	<!-- <title>Test</title> -->
	<script src="../static/jquery-3.5.1.min.js"></script>
</head>
<body>
    <form method="post" action"/" id="form">
        <label>
            <input type="submit" name="button" value="v">
        </label>
    </form>

    <a href="/route1">ROUTE 1</a>

	<!-- <script src="../static/scripts/main.js"></script> -->
	<script>
        $(document).on('submit','#form',function(e){
            console.log("button clicked")
            e.preventDefault();
            $.ajax({
                type:'POST',
                url:'/',
                data:{button:"click"},
            })
        });
    </script>
</body>
</html>
